{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Bootstrap: #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    {# Cropper: #}
    <link href="{{ asset("components/cropper/dist/cropper.css") }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {# jQuery: #}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    {# Bootstrap: #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    {# Cropper: #}
    <script src="{{ asset("components/cropper/dist/cropper.js") }}"></script>

    {# Control: #}
    <script src="{{ asset("bundles/cropdemo/js/control.js") }}"></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path("index") }}">
                    <img src="{{ asset('favicon.ico') }}"
                         class="pull-left"
                         style="width: 32px; margin: 9px;">
                    <h1 class="navbar-brand" style="margin: 0;">Crop Demo</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://bitbucket.org/blueghostcz/crop-demo">Demo na BitBucketu</a></li>
                    <li><a href="http://www.blueghost.cz">BlueGhost.cz</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-3" style="margin-bottom: 30px;">
                <h2>Ořezávaný obraz:</h2>
                <p class="text-success">"{{ crop_image.url|split('/')|last }}"</p>
            </div>
            <div class="col-xs-12 col-sm-6" style="margin-bottom: 30px;">
                <img id="crop-image"
                     src="{{ asset(crop_image.url) }}"
                     data-id="{{ crop_image.id }}"
                     data-aspect-ratio="{{ crop_image.aspectRatio }}"
                     data-x="{{ crop_image.startX }}"
                     data-y="{{ crop_image.startY }}"
                     data-width="{{ crop_image.width }}"
                     data-height="{{ crop_image.height }}"
                     style="max-width: 100%;">
            </div>
            <div class="col-xs-12 col-sm-3" style="margin-bottom: 30px;">
                <form id="crop-form" method="post" action="{{ path("save") }}">
                    <div class="form-group">
                        <button id="reset-crop" type="submit" name="action" value="reset" class="btn btn-primary">
                            Resetovat ořez
                        </button>
                    </div>
                    <div class="form-group">
                        <button id="save-crop" type="submit" name="action" value="save" class="btn btn-success">
                            Uložit ořez
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Ořezané obrazy:</h2>
                <p class="text-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Kliknutím zvolíte obraz k ořezu
                </p>
            </div>
        </div>

        <div class="row">
            {% for image in images %}
                <div class="col-sm-3 col-xs-6" style="margin-bottom: 30px;">
                    <a href="{{ path("index", {'crop': image.id}) }}">
                        <img src="{{ asset(image|crop_filter("250")) }}" style="width: 100%;">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}